<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Signup</h2>
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4" style="background-color: #F5F5F5">
				<form th:action="@{/signup-post}" method="post" class="form-group">
					<label>UserName</label>
					<input type="text" name="username" placeholder="Input username" class="form-control">
					
					<label>Password</label>
					<input type="password" name="password" placeholder="Input password" class="form-control">
					
					<input type="submit" class="btn btn-primary form-control" style="margin-top: 10px;" value="signup">
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
</body>
</html>